.movieDetailContainer {
  height: 92%;

  .pseudoContainer {
    .iframeDiv {
      max-width: 800px;
      margin: auto;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .nameDetail {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      background-color: #dde1e4;
      padding: 1em;

      .titleDiv {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .titleSpan {
          font-size: 1.2em;
          font-weight: 700;
        }

        .dateSpan {
          font-size: 0.8em;
          opacity: 0.8;
          margin-left: 0.2em;
        }
      }

      .subTitleDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0.8;
        font-size: 14px;

        .runtimeDiv {
          display: flex;
          align-items: center;
        }

        .genreDiv {
          display: flex;
          justify-content: flex-start;

          .forGenreDivs {
            margin-right: 5px;
          }
        }
      }
    }

    .bottomDetails {
      margin-left: 15px;
      margin-right: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      .mainSummary {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        .selectedMovieImg {
          height: 180px;
          width: 120px;
          border: 1px solid black;
          box-shadow: 2px -2px;
        }

        .summaryDiv {
          margin-left: 10px;
          height: 135px;
          overflow: scroll;
        }

        .buttonBottomDiv {
          display: flex;
          margin-left: 10px;
          margin-top: 10px;

          .addTextBtn {
            background: none;
            border: none;
            outline: none;
            font-size: 16px;
            font-weight: 800;
            font-style: italic;
          }
        }
      }

      .ratingDetail {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 20px;

        .starIcon {
          display: flex;
          flex: 0.5;
          color: gold;
          font-size: 40px;
        }

        .ratingInfo {
          display: flex;
          flex: 0.5;
          flex-direction: column;
          align-items: center;

          .voteCountDiv {
            opacity: 0.7;
            font-size: 0.9em;
          }
        }

        .rateBtnDiv {
          display: flex;
          flex: 1;

          .rateBtn {
            display: flex;
            width: 100%;
            background: none;
            border: none;
            outline: none;

            .starIcon2 {
              color: silver;
              font-size: 40px;
              float: left;
              margin-right: 15px;
            }

            .star-rating-text {
              display: block;
              padding-top: 3px;
              font-weight: 900;
              font-style: italic;
              font-size: 1.5em;
              // color: #3f88c5;
              color: #71289c;
            }
          }

          .popularDiv {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex: 1;

            .listIcon {
              display: flex;
              margin-right: 0.3em;
              font-size: 2em;
              padding: auto;
              color: #71298c;
            }

            .popularData {
              margin-top: 10px;
              font-size: 1.1em;
            }
          }
        }
      }
    }

    .castCrewCard {
      padding-left: 15px;
      padding-right: 15px;

      .topCastDiv {
        display: flex;
        overflow: scroll;

        .castOutline {
          margin: 0px 8px;

          .castImg {
            height: 170px;
            width: 115px;
          }

          .imgTxt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .imgTxtName {
              font-size: 14px;
              text-align: center;
              margin-bottom: 5px;
            }

            .imgTxtCharName {
              font-size: 14px;
              opacity: 0.8;
            }
          }
        }
      }

      .topCrewDiv {
        display: flex;
        overflow: scroll;

        .crewOutline {
          margin: 0px 8px;

          .crewTxt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .crewTxtName {
              font-size: 14px;
              text-align: center;
              margin-bottom: 10px;
            }

            .crewTxtCredits {
              font-size: 14px;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  .spinnerDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
