<div class="movieDetailContainer">
  <div class="pseudoContainer" *ngIf="isLoaded()">
    <div class="iframeDiv" *ngIf="trailerVar">
      <iframe width="{{ screenWidth }}" height="240" [src]="safeSrc"></iframe>
    </div>
    <div class="nameDetail">
      <div class="titleDiv">
        <span class="titleSpan">
          {{ movieDetails.title }}
          <span class="dateSpan"
            >({{ movieDetails.release_date | date: "MM/dd/yyyy" }})</span
          >
        </span>
      </div>
      <div class="subTitleDiv">
        <div class="runtimeDiv">
          <mat-icon>timer</mat-icon>
          {{ movieDetails.runtime }} min.
        </div>
        <div class="genreDiv">
          <div class="forGenreDivs" *ngFor="let genre of movieDetails.genres">
            {{ genre.name }} |
          </div>
        </div>
      </div>
    </div>
    <div class="bottomDetails">
      <div class="mainSummary">
        <div class="imageDiv">
          <img
            class="selectedMovieImg"
            src="{{
              movieDetails.poster_path
                ? apiData.apiPosterPath + movieDetails.poster_path
                : dataShare.jpgNotFound
            }}"
          />
        </div>
        <div class="bottomRight">
          <div class="summaryDiv">
            {{ movieDetails.overview }}
          </div>
          <div class="buttonBottomDiv" >
            <button
              mat-mini-fab
              class="bottomBtn"
              color="success"
              (click)="addToWatchList()"
            >
              <mat-icon>add</mat-icon>
            </button>
            <button class="addTextBtn" (click)="addToWatchList()">
              Add to My List!
            </button>
          </div>
          <div class="buttonBottomDiv">
            <button
              mat-mini-fab
              class="bottomBtn"
              color="success"
              (click)="removeWatchList(movieDetails.title)"
            >
              <mat-icon>remove</mat-icon>
            </button>
            <button
              class="addTextBtn"
              (click)="removeWatchList(movieDetails.title)"
            >
              Remove from List!
            </button>
          </div>
        </div>
      </div>
      <div class="ratingDetail">
        <div class="ratingImg">
          <mat-icon class="starIcon">star</mat-icon>
        </div>
        <div class="ratingInfo">
          <div class="ratingDiv">{{ movieDetails.vote_average }}/10</div>
          <div class="voteCountDiv">({{ movieDetails.vote_count }})</div>
        </div>
        <div class="rateBtnDiv">
          <button mat-button class="rateBtn" (click)="openDialog()">
            <mat-icon class="starIcon2">star</mat-icon>
            <span class="star-rating-text">Rate This</span>
          </button>
          <div class="popularDiv">
            <div class="popTitle">Pop.</div>
            <div class="popularData">{{ moviePopRound }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="castCrewContainer">
      <mat-card class="castCrewCard">
        <h3 class="castCrewTitle">Cast & Crew</h3>
        <h4 class="topCastTxt">Top Cast</h4>
        <div class="topCastDiv">
          <div
            class="castOutline"
            *ngFor="let member of movieDetails.credits.cast | slice: 0:10"
          >
            <img
              class="castImg"
              src="{{
                member.profile_path
                  ? apiData.apiPosterPath + member.profile_path
                  : dataShare.jpgNotFound
              }}"
              (click)="peopleNav(member.id)"
            />
            <div class="imgTxt">
              <div class="imgTxtName" (click)="peopleNav(member.id)">
                {{ member.name }}
              </div>
              <div class="imgTxtCharName">
                {{ member.character }}
              </div>
            </div>
          </div>
        </div>
        <h4 class="topCrewTxt">Top Crew</h4>
        <div class="topCrewDiv">
          <div
            class="crewOutline"
            *ngFor="let member of movieDetails.credits.crew | slice: 0:10"
          >
            <div class="crewTxt">
              <div class="CrewTxtName">
                {{ member.name }}
              </div>
              <div class="crewTxtCredits">
                {{ member.department }}: <br />
                {{ member.job }}
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="relatedMovies">
      <h3>Recommended Movies</h3>
      <h4>Similar to this:</h4>
      <div
        class="relatedMovieContainer"
        *ngIf="movieDetails.similar.results.length !== 0"
      >
        <div
          class="relatedOutline"
          *ngFor="let movie of movieDetails.similar.results | slice: 0:10"
        >
          <img
            *ngIf="movie.poster_path"
            class="movieImg"
            src="{{ apiData.apiPosterPath + movie.poster_path }}"
            (click)="selectMovie(movie.id)"
          />
          <div class="movieTxt">
            <div class="movieTxtTitle" (click)="selectMovie(movie.id)">
              {{ movie.title }}
            </div>
            <div class="movieTxtAvgRel">
              <div class="relDiv">
                ({{ movie.release_date | date: "MM/dd/yyyy" }})
              </div>
              <div class="avgDiv">{{ movie.vote_average }}/10</div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="relatedMovieContainer"
        *ngIf="movieDetails.similar.results.length === 0"
      >
        <div class="relatedOutline">
          <img class="movieImg" src="{{ dataShare.jpgNotFound }}" />
          <div class="movieTxt">
            <div class="movieTxtTitle">No movies found!</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="commentsContainer"
      *ngIf="movieDetails.reviews.results.length !== 0"
    >
      <h3 class="reviewTxt">Reviews</h3>
      <mat-card
        class="commentsDiv"
        *ngFor="let user of movieDetails.reviews.results"
      >
        <div class="commentUserInfo">
          <div class="nameRatingDiv">
            <div class="commentsName">{{ user.author }}</div>
            <div class="commentsRating">
              {{ user.author_details.rating }}/10
            </div>
          </div>
          <div class="createUpdateCommentDiv">
            <div class="updatedDate">
              {{ getUpdateDate(user.updated_at) | date: "MM/dd/yyyy" }}
            </div>
          </div>
        </div>
        <div class="reviewBody">
          <div class="commentsMsg">{{ user.content }}</div>
        </div>
      </mat-card>
    </div>
    <div
      class="commentsContainer"
      *ngIf="movieDetails.reviews.results.length === 0"
    >
      <h3 class="reviewTxt">Reviews</h3>
      <mat-card class="commentsDiv">
        <div class="noReviewsDiv">There are no reviews for this movie!</div>
      </mat-card>
    </div>
  </div>
  <div class="spinnerDiv" *ngIf="!isLoaded()">
    <mat-spinner></mat-spinner>
  </div>
</div>
