.movieDetailContainer {
  height: 92%;

  .pseudoContainer {
    @media (min-width: 800px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      max-width: 900px;
    }

    .iframeDiv {
      max-width: 800px;
      margin: auto;
      width: 100%;
      display: flex;
      justify-content: center;

      @media (min-width: 800px) {
        max-width: 900px;
      }
    }

    .nameDetail {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      background-color: #dde1e4;
      padding: 1em;
      width: 100%;

      @media (min-width: 800px) {
        max-width: 867px;
      }

      .titleDiv {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .titleSpan {
          font-size: 1.2em;
          font-weight: 700;
        }

        .dateSpan {
          font-size: 0.8em;
          opacity: 0.8;
          margin-left: 0.2em;
        }
      }

      .subTitleDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0.8;
        font-size: 0.9em;

        .runtimeDiv {
          display: flex;
          align-items: center;
          margin: 0.5em 0;
        }

        .genreDiv {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;

          .forGenreDivs {
            margin-right: 0.5em;
          }
        }
      }
    }

    .bottomDetails {
      margin-left: 1em;
      margin-right: 1em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      @media (min-width: 800px) {
        max-width: 900px;
        margin-left: 0;
        margin-right: 0;
      }

      .mainSummary {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 1.5em;
        padding-bottom: 2em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        @media (min-width: 800px) {
          max-width: 900px;
        }

        .selectedMovieImg {
          height: 11.5em;
          width: 7.5em;
          border: 1px solid black;
          box-shadow: 2px -2px;
        }

        .summaryDiv {
          border-bottom: 1px solid black;
          margin-left: 1.2em;
          height: 8em;
          overflow: scroll;
        }

        .buttonBottomDiv {
          display: flex;
          margin-left: 1em;
          margin-top: 1em;

          .addIcon {
            margin-bottom: 1em;
          }

          .addTextBtn {
            background: none;
            border: none;
            outline: none;
            font-size: 1.2em;
            font-weight: 800;
            font-style: italic;
          }
        }
      }

      .ratingDetail {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1em;

        .ratingImg {
          @media (min-width: 800px) {
            margin-left: 2em;
          }

          .starIcon {
            display: flex;
            flex: 0.5;
            color: gold;
            font-size: 3em;
          }
        }

        .ratingInfo {
          display: flex;
          flex: 0.5;
          flex-direction: column;
          align-items: center;
          margin-left: 1.2em;
          margin-right: 1.5em;

          @media (min-width: 500px) {
            align-items: flex-start;
          }

          .voteCountDiv {
            opacity: 0.7;
            font-size: 0.9em;
          }
        }

        .rateBtnDiv {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex: 1;

          .checkedBoxDiv {
            display: flex;
            align-items: center;
            margin-bottom: 0.5em;

            .checkedBoxImg {
              color: #3f8eb2;
            }

            .checkedBoxTxt {
              font-weight: 600;
              font-style: italic;
            }
          }
          .rateBtnDiv2 {
            display: flex;
            margin-right: 1em;

            .rateBtn {
              display: flex;
              width: 100%;
              background: none;
              border: none;
              outline: none;
              padding-left: 0;

              .starIcon2 {
                color: silver;
                font-size: 2.5em;
                float: left;
                margin-right: 0.4em;
              }

              .ABRated {
                color: gold;
              }

              .star-rating-text {
                display: block;
                padding-right: 1em;
                font-weight: 900;
                font-style: italic;
                font-size: 1.5em;
                color: #3f8eb2;
              }
            }
          }
        }

        .seenMovieCheck {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;

          .seenMovieBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            outline: none;
            outline: none;

            .emptyCheckBox {
              color: #3f8eb2;
            }

            .seenMovieTxt {
              font-size: 1em;
              font-weight: 600;
              font-style: italic;
            }
          }
        }

        .popularDiv {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          flex: 1;

          .popTitle {
            display: flex;
            margin-right: 0.3em;
            font-size: 1em;
            padding: auto;
            color: #3f8eb2;
            text-decoration: underline;
            font-weight: 600;
          }

          .popularData {
            margin-top: 0.2em;
            font-size: 1.1em;
            text-align: center;
          }
        }
      }
    }

    .castCrewCard {
      overflow: hidden;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #181a1b;
      width: 100%;

      @media (min-width: 800px) {
        max-width: 868px;
      }

      .castCrewTitle {
        color: #3f8eb2;
      }

      .topCastDiv {
        display: flex;
        overflow: scroll;
        margin-bottom: 3em;

        .castOutline {
          margin: 0px 0.6em;

          .castImg {
            height: 10.5em;
            width: 7.2em;
            border: 1px solid black;
          }

          .imgTxt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .imgTxtName {
              font-size: 1em;
              text-align: center;
              margin-bottom: 0.5em;
            }

            .imgTxtCharName {
              font-size: 0.8em;
              opacity: 0.8;
              text-align: center;
            }
          }
        }
      }

      .topCrewDiv {
        display: flex;
        overflow: scroll;

        .crewOutline {
          margin: 0px 1.5em;

          .crewTxt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 1.5em;

            .crewTxtName {
              font-size: 2em;
              margin-bottom: 1em;
              text-align: center;
            }

            .crewTxtCredits {
              font-size: 1em;
              opacity: 0.6;
              text-align: center;
            }
          }
        }
      }
    }

    .relatedMovies {
      display: flex;
      flex-direction: column;
      margin: 1.5em 1.5em;
      padding-bottom: 2em;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      width: 100%;

      @media (min-width: 800px) {
        max-width: 900px;
        margin: 1.5em 0em;
      }

      .relatedMovieContainer {
        display: flex;
        overflow: scroll;

        .relatedOutline {
          margin-right: 1.5em;

          .movieImg {
            height: 11em;
            width: 7em;
            margin-bottom: 0.5em;
            border: 1px solid black;
            box-shadow: 2px -2px;
          }

          .movieTxt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .movieTxtTitle {
              font-weight: 600;
              text-align: center;
            }

            .movieTxtAvgRel {
              display: flex;
              flex-direction: column;
              align-items: center;
              opacity: 0.8;
            }
          }
        }
      }
    }

    .userReviewContainer {
      display: flex;
      flex-direction: column;
      margin: 0 1.5em;
      background-color: #181a1b;
      width: 100%;

      @media (min-width: 800px) {
        max-width: 868px;
        margin: 0 0;
      }

      .writeReviewTxt {
        color: #3f8eb2;
      }

      .writeReviewDiv {
        .reviewFormField {
          height: 100%;
          width: 100%;
          background-color: #f1f2eb;
          margin-bottom: 1em;

          .reviewLabel {
            color: #3f8eb2;
          }

          .reviewText {
            overflow: visible;
            height: 100%;
            color: #181a1b;
          }
        }
      }

      .didNotRateDiv {
        text-align: center;
        margin-bottom: 1em;
      }

      .submitBtn {
        display: flex;
        justify-content: space-between;

        .saveReviewBtn {
          background-color: #3f8eb2;
        }

        .clearReviewBtn {
          background-color: #3f8eb2;
        }
      }
    }

    .userReviewDiv {
      margin: 0 1.5em;
      width: 100%;

      @media (min-width: 800px) {
        max-width: 900px;
        margin: 0 0;
      }

      .userReviewIfExists {
        background-color: #181a1b;

        .commentUserInfo {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1em;

          .nameRatingDiv {
            .commentsName {
              color: #3f8eb2;
              font-weight: 600;
            }

            .commentsRating {
              color: gold;
              margin-left: 1em;
              margin-top: 0.5em;
            }
          }
        }

        .reviewBody {
          border-top: 1px solid rgba(255, 255, 255, 0.8);
          padding: 0.5em;
          margin: 0.5em;
          overflow: scroll;
        }

        .editReviewBtn {
          background-color: #3f8eb2;
        }
      }
    }

    .commentsContainer {
      margin: 0px 1.5em;
      width: 100%;

      @media (min-width: 800px) {
        max-width: 900px;
        margin: 0 0;
      }

      .buttonReview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5em;

        .reviewBtnTxt {
          margin-bottom: 1em;
          font-size: 1.2em;
          font-weight: 500;
          text-align: center;
        }
      }

      .commentsDiv {
        margin-bottom: 1em;
        background-color: #181a1b;

        .noReviewsDiv {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .commentUserInfo {
          display: flex;
          justify-content: space-evenly;
          margin-bottom: 1em;

          .nameRatingDiv {
            .commentsName {
              color: #3f8eb2;
              font-weight: 600;
            }

            .commentsRating {
              color: gold;
              margin-left: 1em;
              margin-top: 0.5em;
            }
          }
        }

        .reviewBody {
          border-top: 1px solid rgba(255, 255, 255, 0.8);
          padding: 0.5em;
          margin: 0.5em;
          overflow: scroll;
        }
      }
    }
  }

  .spinnerDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
