<div class="navbarContainer">
  <mat-toolbar>
    <div class="firstTwoIcons">
      <div class="toolbarBtn">
        <button mat-icon-button (click)="goBack()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
      <div class="appNameDiv">
        <div>
          <span class="tmdbText">TMDB</span>
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      class="menuBtn"
      [matMenuTriggerFor]="menu"
      aria-label="button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navHome()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="navList()">
        <mat-icon>list_alt</mat-icon>
        <span>My List</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon> vpn_key</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
