.watchListContainer {
  height: 92%;

  .mainCardContainer {
    height: 100%;

    .interestedContainer {
    }

    .watchedContainer {
    }

    .reviewContainer {
    }
  }
}

.movieListThumb {
  display: flex;
  flex: 1;
  height: 11em;
  width: 7.2em;
  margin-right: 1.2em;
  border: 1px solid white;
}
