.photoContainer {
  height: 92%;
  padding-left: 1.5em;
  padding-right: 1.5em;

  .pseudoContainer {
    width: 100%;

    @media (min-width: 800px) {
      max-width: 900px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }

    .infoContainer {
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
      padding-bottom: 1.2em;

      .nameContainer {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        margin-top: 1em;
        margin-bottom: 1em;
        padding-bottom: 0.5em;

        .nameDiv {
          font-size: 1em;
          font-weight: 500;
        }
      }

      .photoTitleLength {
        font-size: 1.2em;
        font-weight: 500;

        .photoNumber {
          opacity: 0.5;
        }
      }
    }

    .allPhotosContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .imgContainer {
        margin-top: 1em;
        margin-right: 1em;

        .allImages {
          height: 10em;
          width: 7em;
          border: 1px solid black;

          @media (min-width: 690px) {
            height: 13em;
            width: 9em;
          }
        }
      }
    }
  }

  .spinnerDiv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
