/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// @import '~firebaseui/dist/firebaseui.css'

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #3f8eb2;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #3f8eb2;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  background-color: #3f8eb2;
}

.mat-icon-button.mat-success {
  color: #3f8eb2;
}

.mat-tab-label {
  color: #3f8eb2;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  color: #3f8eb2 !important;
}

.newBackground {
  mat-dialog-container {
    padding: 0;
    border-radius: 1em;
  }
  .dialogContainer {
    border: 1px solid white;
    border-radius: 1em;
    width: 10em;
    background-color: #181a1b;
    padding: 3em;
  }
}
