<div class="peopleContainer">
  <div class="pseudoContainer" *ngIf="isLoaded()">
    <div class="nameDiv">
      {{ peopleDetails.name }}
    </div>
    <div class="knownForDiv">
      {{ peopleDetails.known_for_department }}
    </div>
    <div class="personDetail">
      <div class="imgDiv">
        <img
          class="personImg"
          src="{{
            peopleDetails.profile_path
              ? apiData.apiPosterPath + peopleDetails.profile_path
              : dataShare.jpgNotFound
          }}"
        />
      </div>
      <div class="infoDiv">
        <div class="bioDiv">
          {{ peopleDetails.biography ? peopleDetails.biography : noBioFound }}
        </div>
        <div class="birthDeathDiv" *ngIf="newUpdate !== noBirthdayFound">
          {{ newUpdate | date: "MM/dd/yyyy" }}
          -
          {{ isAlive() }}
        </div>
        <div class="birthDeathDiv" *ngIf="newUpdate === noBirthdayFound">
          {{ newUpdate }}
        </div>
        <div class="creditDiv">
          Movie Credits: {{ peopleDetails.movie_credits.cast.length }}
        </div>
      </div>
    </div>
    <div class="otherNames">
      <div class="otherNameTitle">Name Translations:</div>
      <div
        class="otherNameListContainer"
        *ngIf="peopleDetails.also_known_as.length !== 0"
      >
        <div
          class="otherNameList"
          *ngFor="let name of peopleDetails.also_known_as"
        >
          {{ name }}
        </div>
      </div>
      <div
        class="otherNameListContainer"
        *ngIf="peopleDetails.also_known_as.length === 0"
      >
        <div class="otherNameList">
          {{ noOtherNames }}
        </div>
      </div>
    </div>
    <mat-card class="photoDiv">
      <div class="photoTitleContainer">
        <div>Photos</div>
      </div>
      <div
        class="photoSlideContainer"
        *ngIf="peopleDetails.images.profiles.length !== 0"
      >
        <div
          class="imgDiv"
          *ngFor="let photo of peopleDetails.images.profiles | slice: 0:4"
        >
          <img
            class="slideImg"
            src="{{ apiData.apiPosterPath + photo.file_path }}"
          />
        </div>
      </div>
      <div
        class="photoSlideContainer"
        *ngIf="peopleDetails.images.profiles.length === 0"
      >
        <div class="imgDiv">
          <img class="slideImg" src="{{ dataShare.jpgNotFound }}" />
        </div>
      </div>
      <div class="allPhotosDiv">
        <div class="allPhotosTxt">No More Photos Found</div>
      </div>
    </mat-card>
    <mat-card class="filmCard">
      <div class="filmTitleContainer">
        <div>Filmography</div>
      </div>
      <div class="filmSliderContainer">
        <div
          class="filmImgDiv"
          *ngFor="let film of peopleDetails.movie_credits.cast"
        >
          <img
            class="filmImg"
            src="{{
              film.poster_path
                ? apiData.apiPosterPath + film.poster_path
                : dataShare.jpgNotFound
            }}"
            (click)="selectMovie(film.id)"
          />
          <div class="movieName">
            <div class="movieTitle" (click)="selectMovie(film.id)">
              {{ film.title }}
            </div>
            <div class="characterName">
              {{ film.character }}
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <div>&nbsp;</div>
  </div>
  <div class="spinnerDiv" *ngIf="!isLoaded()">
    <mat-spinner></mat-spinner>
  </div>
</div>
