.mat-dialog-content {
  padding-top: 1em;
}

.dialogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .imgDiv {
    object-fit: cover;

    .directImg {
      width: 10em;
      height: 14em;
      margin-bottom: 1em;
      border: 1px solid white;
    }
  }

  mat-dialogActions {
    width: 100%;
    display: flex;
  }
}
